---
import Layout from '@/layouts/main.astro';
import { ResultDetailView } from '@/components/react/ResultDetailView';
---

<Layout title="Resultado | Servicio Luna">
  <div class="min-h-screen bg-muted/30 dark:bg-background py-8 px-4 sm:px-6 lg:px-8">
    <div class="max-w-5xl mx-auto">
      <ResultDetailView client:load />
    </div>
  </div>
</Layout>
